.m0{
	margin: 0;
}

.btMenPpeBlue							{ background:#384349; width:70%;  margin:0 auto; border-bottom:solid 1px #666666; }
.btMenPpeBlue:hover						{ background:#3a5462; color:#FFF; }
.btMenPpeBlue.selo						{ background:#4d90fe;  }

.btMenPpeYellow							{ background:#384349; width:70%;  margin:0 auto; border-bottom:solid 1px #666666; }
.btMenPpeYellow:hover					{ background:#3a5462; color:#FFF; }
.btMenPpeYellow.selo					{ background:#ffe42c;  }

.fv_btn2x {
    background-color: #25b76c !important;
    color: #fff !important;
    font-weight: 400 !important;
    text-transform: none !important;
}

.colorVerde5{
	color: #25b76c;
}

.bVerde5{
	background-color: #25b76c;	
}

.dI{
	display: inline;
}

.btn-bykr {
    padding: 5px 16px;
}

.pR{
	position: relative;
}

.pA{
	position: absolute;
}

.imgAbs{
	width: 60px;
}

.menu-bykr li.active > a{
	color: white !important;
	background-color: #48a8b8 !important;
	border-radius: 5px;
}

.menu-bykr li > a:hover{
	border-radius: 5px;
}

.pMenu{
	padding-right: 40px !important;
	padding-left: 40px !important;
}

.menu-bykr2 li.active > a{
	color: #333 !important;
	background-color: white !important;
}

.pMenu2{
	padding-right: 50px !important;
	padding-left: 50px !important;
}

.minMensaje2 								{ background-color: white; }
.leyendoMensaje2							{ background-color: #fcefc4; }

.minMensaje3 								{ border-right:solid 3px transparent !important; }
.leyendoMensaje3							{ border-right:solid 3px #4184f3 !important; }

.minMensaje4 								{ border-right:solid 3px transparent !important; }
.leyendoMensaje4							{ border-right:solid 3px #4184f3 !important; }

.selecStd2 {
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 100%;
}

.input-bykr:focus{
	border-color: #ccc !important;
	box-shadow: none !important;
}

.btn-radius-bykr {
    border-radius: 14px !important;
}

.fv_amp > tr > td, thead.fv_amp > tr > th  {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}

.bAzulLImp{
	background-color: #e5f6fe !important;
}

.bWhiteImp{
	background-color: #fff !important;
}

.barraAmarilla								{ background:#25b76c; width:100%; height:auto; position:absolute; z-index:10 }
.barraRoja									{ background:#9a000f; width:100%; height:auto; position:absolute; z-index:10 }

/* CLASES DE FERNANDO */

span.fv_cur {
    border-radius: 10px;
    float: left;
    height: 10px;
}

.bOrange2{
	background-color: #f66c32;
}

.bAzulBG{
	background-color: #00b3e8;
}

.bGray5{
	background-color: #7f95a3;
}

a.acordion-bykr {
    padding: 15px 30px 15px 10px !important;
}

a.acordion-bykr[aria-expanded="true"] {
    background-image: url("../../resources/img/icons/arFaq11.png") !important;
}